
.homepage-bgimage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: calc(110vh - 32px);
    /* calc(110vh - 32px); */
    background: url(../img/hand-drawn-cupcakes-color-background-sweet-bakery-used-desktop-wallpaper-website-design-image-154062971.jpg)no-repeat center center/cover; 
    font-family: 'Poppins', sans-serif; 
} 



